<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp3.Properties.Settings.kawaiConnectionString"
            connectionString="Data Source=DESKTOP-T33U1GV;Initial Catalog=kawai;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp3.Properties.Settings.ichiConnectionString"
            connectionString="Data Source=DESKTOP-T33U1GV;Initial Catalog=ichi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>